<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Foodie Vilas</title>


        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />

        <link rel="stylesheet" type="text/css" href="/css/style.css">

    
    </head>
    <body>
        <form action="/" method="post">
        <header class="navbar" id="preview-navbar">
            <div class="container flex text-center jc-ai-center">
                <div class="site-title flex align-item-center">
                    <div>
                        <a href="/home"><h1><span class="clr-red">Foodie</span> <span class="clr-green">Vilas</span></h1></a>
                    </div>
                    
                    <div class="toggle-bars mybar">
                        <div class="bars bar-1"></div>
                        <div class="bars bar-2"></div>
                        <div class="bars bar-3"></div>
                    </div>
                </div>
               
                <nav class="site-nav flex left-nav align-item-center">                
                    <ul class="flex">
                        <li><a href="/home">Home</a></li>
                        <li><a href="/about">About</a></li>
                        <li><a href="/login">Login</a></li>
                        <li><a href="/register">Register</a></li>
                    </ul>
                </nav>
            </div>
        </header>
    </form>
    </body>

</html>